.app-settings-page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: fit-content;
    overflow-y: auto;
    background-color:#fff;

    h4,h3,P{
        color: black;
    }
    &-form {
        flex-grow: 1;
    }


    &-sidebar {
        flex-basis: 30vw;
    }
}
